<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587888056010-5bbke127djdafo3fca56icket64s4mu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587888056010-5bbke127djdafo3fca56icket64s4mu0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587888056010-3m8dkis26cc6085sm81gmbei69td8rc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC5Lz2r-KjZMTO2-lx7t3F5FDa0QESSTY</string>
	<key>GCM_SENDER_ID</key>
	<string>587888056010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.astraline</string>
	<key>PROJECT_ID</key>
	<string>astraline-c5463</string>
	<key>STORAGE_BUCKET</key>
	<string>astraline-c5463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587888056010:ios:81bfe08e9933374d08c633</string>
</dict>
</plist>